<div class="custom-row featured-in">
  <div class="custom-column-four">
    <img src="https://cdn.shopify.com/s/files/1/0326/3129/2039/files/icons8-coin-90_d756e740-39b5-4706-9e4e-41d04ec5467e.png?v=1705062201" width="30px">
    <p>Lowest Price Guaranteed</p>
  </div>
  <div class="custom-column-four">                
    <img src="https://cdn.shopify.com/s/files/1/0326/3129/2039/files/icons8-warranty-90.png?v=1705061838" width="30px">
    <p>Limited Product Warranty</p>
  </div>
  <div class="custom-column-four">
    <img src="https://cdn.shopify.com/s/files/1/0326/3129/2039/files/icons8-shipping-90.png?v=1705061838" width="30px">
    <p>Free Shipping Over $199</p>
  </div>
  <div class="custom-column-four">
    <img src="https://cdn.shopify.com/s/files/1/0326/3129/2039/files/icons8-box-90.png?v=1705061838" width="30px">
    <p>30 Day Returns</p>
  </div>
</div>

<style>
.featured-in {
    width: 100%;
    margin: 30px 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.custom-column-four {
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}


  @media only screen and (max-width: 600px){
    .featured-in {
        width: 100%;
        flex-wrap: wrap;
    }
    .custom-column-four {
        width: 24%;
    }
  }

</style>
